@font-face {
    font-family: 'My type of font';
    src: url('Mytypeoffont.woff2') format('woff2'),
        url('Mytypeoffont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

